@page "/Account/Login"
@model MiniChain.Web.Pages.Account.Login
@using Auth0.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication
@attribute [IgnoreAntiforgeryToken]

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>