@page "/Account/Logout"
@namespace MiniChain.Web.Pages.Account
@using Auth0.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication
@attribute [IgnoreAntiforgeryToken]
@model MiniChain.Web.Pages.Account.Logout

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>