<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="chain">
                <span class="oi oi-plus" aria-hidden="true"></span> Chain
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wallet">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wallet
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mempool">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mempool
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <span class="nav-link text-white">@context.User.Identity?.Name</span>
                </li>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/Account/Logout">Log out</a>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <a class="nav-link" href="/Account/Login">Log in</a>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : string.Empty;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
